@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Raleway', sans-serif; }
